/* Global styles 
#FD8265 - coral reef
#DCE6DE - gainsboro
#E4C1A4 - dark vanilla
#C5B391 - khaki
#83CBE8 - skyblue
*/
/* Links */

html {
    box-sizing: border-box;
}

*, *::after, *::before {
    box-sizing: inherit;
}

body {
    font-family: 'Open Sans', sans-serif;
    margin: 0;
}

h1, h2 {
    color: crimson;
    font-family: 'Caveat', cursive;
    margin-top: 0;
}

h1 {
    font-size: 48px;
    font-weight: bold;
}

h2 {
    font-size: 36px;
}

a {
    text-decoration: none;
}

a:hover {
    color: darkgray;
}

/* Header & Footer */
header, footer {
    background: #FD8265;
    color: #DCE6DE;
}

/* Work Experience */
.work-experience {
    background: #DCE6DE;
}

.company{
    font-size: 1.5em;
}

p{
    margin-bottom:  0;
    line-height: 2;
    clear: both;
}

/* Education */

.education{
    background: #C5B391;
}

.content-wrapper, header p{
    padding: 30px;
}

.user-pic{
    float: left;
    margin: 15px;
}

.user-name{
    padding-top: 120px;
}

footer{
    text-align: center;
    padding-top: 30px;
}

/* .box-model{
    width: 300px;
    height: 200px;
    background-color: #fff;
    padding: 10px 20px;
    border: black 2px solid;
    margin: 0 auto;
} */


