doctype html
html
    head
        title theBlog
        link(rel='stylesheet' href='/bootstrap/bootstrap.css')
    body
        div.jumbotron
            div.container
                h1 Another popular blog
        div.container
            block content
        br
        hr
        footer.container
            p copyright &copy; 2019
