/* You can add global styles to this file, and also import other style files */
h2 {
    color: crimson
}

.passData {
    border-top: 1px solid darkgray;
    border-bottom: 1px solid darkgray;
    padding: 5px;
    width: 80%;
    margin: 20px auto;
}