extends layout

block content
        h1 #{title}
        div
            each article, i in articles
                div
                    h3 #{article.title}
                    div #{article.author}
                    p #{article.body}
