body{
    margin: 0;
    text-transform: uppercase;
    color: white;
}

.colorItem {
    width: 30%;
    margin: 1.5%;
    border: solid 1px black;
    border-radius: 20px;
    padding-bottom: 30%;
    float: left;
    cursor: pointer;
    transition: background .6s;
    outline: none;
}

#colorItemWrapper {
    background-color: black;
    width: 100%;
    height: 100%;
    padding-top: 30px;
}

#colorItems {
    max-width: 600px;
    margin: 20px auto;
}

.header {
    text-align: center;
    height: 150px;
    padding: 20px 0;
    /* margin: auto 0; */
}

#stripe{
margin-top: 40px;
height: 30px;
}

button{
    border: none;
    background: none;
    text-transform: uppercase;
    height: 100%;
    /* color: dodgerblue; */
    outline: none;
    cursor: pointer;
}

button:hover{
color: white;
background-color: dodgerblue;
}