extends layout

block content
        h3 #{title}
        div.row
            each article, i in articles
                div.col-md-4
                    h4 #{article.title}
                    div #{article.author}
                    p #{article.displayText}
                    input.btn.btn-primary(type='button', value="Read more")

