extends layout

block content
    .container
        br
        input#username.form-control(type="text", placeholder="Enter user name")
        br
        textarea#textarea.form-control(type="text", placeholder="Enter message text")