doctype html
html
    head
        title theBlog
        link(rel='stylesheet' href='/bootstrap/bootstrap.css')
    body
        nav.navbar.navbar-expand-lg.navbar-dark.bg-dark
            a.navbar-brand(href='/') The Blog
            ul.navbar-nav
                li.nav-item.active
                    a.nav-link(href='/') | Articles
                if user
                    li.nav-item
                        a.nav-link(href='/articles/add') | Add article
            ul.nav.navbar-nav.navbar-right.right
                li.nav-item
                    a.nav-link(href='/users/register') | Register
                li.nav-item
                    a.nav-link(href='/users/login') | Login
        div.jumbotron
            div.container
                h1 Another popular blog
        div.container
            block content
        br
        hr
        footer.container
            p copyright &copy; 2019
