
html {
    box-sizing: border-box;
}

* {
    box-sizing: inherit;
}

body {
    margin: 0;
    padding: 0;
}

p {
    font-family: 'Montserrat', sans-serif;
}

nav {
    font-family: 'Patua One', cursive;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 10px 100px;
    transition: .3s;
    z-index: 100;
}

nav.black {
    background: rgba(0, 0, 0, 0.8);
    height: 100px;
    padding: 10px 100px;
}

nav.black li a {
    color: #ffffff;
}

nav.black .logo{
    color: #ffffff;
}

nav ul {
    display: flex;
    list-style: none;
    float: right;
}

nav li a{
    padding: 15px 30px;
    text-decoration: none;
    text-transform: uppercase;
    line-height: 80px;
}

nav ul a:focus{
    outline: none;
    /* background-color: orange; */
}

nav .logo {
    float: left;
    padding: 22px 20px;
    font-size: 24px;
}

nav ul a.active{
    background-color: orangered;
    border-radius: 6px;
}

a:active{
    color: blanchedalmond;
}

.wrapper{
    /* background-color: orangered; */

}

header {
    background-image: linear-gradient(to right bottom, rgba(124, 196, 76, 0.8), rgba(34, 136, 187, 0.8)), url(../assets/header.jpg);
    /* background-image: url(../assets/header.jpg); */
    background-size: cover;
    background-position: top;
    height: 90vh;
    clip-path: polygon(0% 0%, 100% 0%, 100% 50%, 50% 100%, 0 50%);
    /* box-shadow: 0 5px 10px rgba(0, 0, 0, 0.8); */
    position: relative;
}

.content {
    margin-top: 80px;
}

.content p{
   width: 700px;
   margin: 30px auto;
   text-align: justify;
   font-size: 20px;
   line-height: 30px;
}

/* .btn{
border-radius: 100px;
} */

.btn:hover{
transform: translateY(-3px);
transition: 0.3s;
box-shadow: 0 10px 20px rgba(0, 0, 0, 0.5);
}

.btn:active{
transform: translateY(-1px);
box-shadow: 0 5px 10px rgba(0, 0, 0, 0.5);
/* background-color: orangered; */
/* color: black; */
}