input{
    margin-top: 5px;
    /* float: right; */
}

form {
    width: 50%;
}

div {
    margin: 10px;
}

#shape { 
    border: 3px solid chocolate;
}

.shorthand {
    padding: 10px;
    margin: 5px 2px 5px 2px;
    background: red url(../assets/googlelogo_color_272x92dp.png) fixed;
    border: solid 2px forestgreen;
}

/* * {
    background-color: navajowhite;
} */

[href="http://wikipedia.org"] {
    background-color: navajowhite;
    border: solid 1px chocolate;
    border-radius: 5px;
    width: 200px;
    padding: 3px;
}